/*-- CSS Reset --*/
/* * {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
} */

/*-- Main structural styling--*/

body {
    background: #252422;
    color: #f9f9f9;
    font-size: 16px;
    max-width: 1000px;
    align-content: center;
    width: 80%;
    margin: auto;
}


/*-- Styling typography --*/

h1,
h2 {
    color: #87460D;
}

h1 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    color: #f9f9f9;
    text-align: center;
    font-size: 4.653rem;
    margin-top: 2em;

}

section {
    line-height: 30px;
}

p {
    font-family: " neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    text-align: justify;
    width: 100%;
}

p,
blockquote {
    margin-bottom: 1.5rem;
    line-height: 1.4
}

h2 {
    margin: 3em 0 1em 0;
    font-style: italic;
    margin-top: 1em;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: italic;
    color: #F9f9f9;
    line-height: 3em;
    text-align: center;

}

h3 {
    font-size: 1.877rem;
    margin: 3em 0 1em 0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    color: #FAA307;
    font-style: normal;
}

h4 {
    font-size: 1rem;
    margin: 3em 0 1em 0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    color: #FAA307;
    font-style: normal;
}

blockquote {
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.75rem
}

cite {
    font-size: 0.8em;
    color: #333333;
    font-style: normal;
}

header h2 {
    font-size: 2.827rem;
    font-style: italic;
    margin-top: 0rem;
    margin-bottom: 0.5em;

}

header p {
    font-size: 1.3rem
}

/*-- Styling links --*/
a {
    color: #87460D;
    text-decoration: none
}

a:hover {
    color: #FAA307;
    border-bottom: 1px dotted;
}

/*-- Styling nav --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #87460D;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}

nav ul li {
    display: inline;
    margin: 15px;
    font-size: 1.2em;


}

.links {
    padding: 0;
}

nav a {
    color: #f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color: rgb(255, 187, 127);
    transition: all 0.3s ease-in-out
}



footer {
    text-align: center;
    font-size: 0.75rem;
    margin: 6em 0 3em 0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    background-color: #252422;
    color: #f9f9f9;
}

/*---schultz image formatting---*/


.headercontainer {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    text-align: left;
}

.headertext {
    display: flex;
    flex-shrink: 0;
}

.paragraph1 {
    align-self: center;
    margin-right: 2.5em;
    margin-top: 1.9em;
    font-size: 18px;
}

/*nav formatting*/

nav {
    background-color: #252422;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 0.5em;
}


nav:hover {
    border-bottom: none;
    color: #FAA307;
    transition: all 0.3s ease-in-out;
    font-style: normal;
    font-family: "neue-haas-grotesk-text", sans-serif;
}

/* other images formatting*/


footer {
    font-style: italic;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 0.9em;
    justify-content: center;
    background-color: #252422;
    color: #f9f9f9;
}

.buttons {
    color: #f9f9f9;
    background-color: #252422;
    width: 100%;
}

.buttons:hover{
    color: #FAA307;
    transition: all 0.3s ease-in-out;
}

.connections {
    list-style: none;
    display: inline-flex;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    justify-content: center;

}



blockquote {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: italic;
    font-size: 19px;
    justify-content: center;
}

.introcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.introimage {
    flex: 35%;
}

.introtext {
    flex: 60%;
    margin: 0 3em 0 0;

}

.ideo1 {
    width: 70%;
    align-items: center;
    flex: 35%;

}

b {
    color: #FAA307;
}

li {
    list-style-type: none;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 1.2rem;
    align-items: center;
}

a {
    color: #FFBD47;

}

.dtcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.designtext {
    flex: 90%;
    margin: 0 3em 0 0;

}

.man {
    width: 80%;
    align-items: center;
    flex: 15%;

}

.ideoucontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.ideou {
    flex: 35%;
    align-items: flex-end;
    width: 80%;
}


.ideoutext {
    flex: 60%;
    margin: 3em 0 0 0;
}

.ideou {
    width: 90%;
    align-items: center;
}

.ideodtcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.images {
    flex: 10%;

}

.ideodttext {
    flex: 60%;
    margin: 0 3em 0 0;
    width: 80%;
}

.imggroup {
    width:100%;
    align-items: flex-end;
    flex: 35%;
}



.importancecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.importanceimg {
    width: 90%;
    align-items:flex-end;
    flex: 80%;
}

.image2 {
    flex: 10%;
}

.importancetext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.imggroup {
    width: 40%;
    align-items: center;
    flex: 35%;
}

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 75%;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-size: 19px;

}

caption {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-size: 19px;
    margin: 1.5em 0;
    text-transform: uppercase;

}
th {
    color: #faa307;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #252422;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: italic;
    font-size: 19px;

}

th, td {
    padding: 0.6em
}

table, td {
    background: #252422;
    border: 2px solid #faa307;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: italic;
    font-size: 19px;

}

.problemscontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.problemstext {
    flex: 90%;
    margin: 0 3em 0 0;
}

.problemsimg {
    width: 100%;
    align-items:center;
    flex: 50%;
}

.conclusioncontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.conclusiontext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.conclusionimg {
    width: 70%;
    align-items: center;
    flex: 50%;
    padding:0;
}

.bibliographycontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.bibliographytext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.bibliographyimg {
    width: 80%;
    align-items: flex-start;
    flex: 35%;
}



caption{
    font-style: italic;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 0.9em;
}

ol{
    font-family: "neue-haas-grotesk-text", sans-serif;
}


